<!-- <div class="container bg-dark">
  <div class="row mt-5">
    <div class="col-12 ">
      <div class="mt-2 mb-4 pt-2 pl-2 bg-dark">
        <h1 class="font-weight-bolder text-white text-center">
          {{item.PRDName}}
        </h1>
      </div>
    </div>
  </div>
</div> -->

<div class="container" >
  <div class="row mt-5 mb-5">
    <div class="col-5 my-4 pl-4 mw-100%" >
      <div class="col-10 my-4 pr-4 mw-100%" >
        <!-- <img src="{{imgDirectory}}{{item.PRDImage}}"  class="img-thumbnail mt-2 first w-100 h-100" > -->
        <img src="{{imgDirectory}}{{item.PRDImage}}" class="img-thumbnail img1">
      </div>
      <div class="col-8 my-4 pr-2  ml-2">
        <h5 style="color: #13424c;" >Description:</h5>
        <p>{{item.PRDDesc}}</p>
      </div>
    </div>



    <div class="col-lg-7 mt-5 mb-5" >
      <div class="cart-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">{{item.PRDName}}</div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Price</h6>
          </div>
          <div class="col-sm-9 text-secondary">{{item.PRDPrice| currency}}</div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Description</h6>
          </div>
          <div class="col-sm-9 text-secondary">{{item.PRDDesc}}</div>
          <!-- <div class="text-info">number of rating: {{item['no_of_rating']}}</div>
      <div class="text-success">average of rating: {{item['avg_of_rating']}}</div> -->
        </div>
        <hr />

        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Quantity</h6>
          </div>
          <div class="col-sm-9 text-secondary">{{item.PRDQuantity}}</div>
        </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">number of rating</h6>
        </div>
        <div class="col-sm-9 text-secondary"> {{item['no_of_rating']}}</div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">average of rating</h6>
        </div>
        <div class="col-sm-9 text-secondary"> {{item['avg_of_rating']}}</div>
      </div>
      <hr />

         <div class="row">
           <div class="col-3">
            <div class="form-group d-inline-flex mr-4 border-muted">
              <button class="form-control border-light btn" (click)="subproduct()"><i class="fa fa-minus text-muted"
                  style=" font-size:12px"></i></button>
              <input type="text" [(ngModel)]="add" class="form-control border-light text-center input-btn" readonly>
              <button class="form-control border-light btn" (click)="addincrement(item.PRDQuantity)"><i
                  class="fa fa-plus text-muted" style="font-size:12px"></i></button>
            </div>
          </div>
          <div class="col-9">
            <button class=" col-4 btn-card" style="background-color: #ae7c54;color: white;" (click)="addtocard(item.id)">
              Add to Cart
            </button>
        </div>
        </div>
        <hr>
         <div class="row">
           <div class="col-3">
            <div class="form-group ">
              <label for="sel1">Select Rating:</label>
            </div>
          </div>
            <div class="col-5">
              <select class="form-control" id="sel1" [(ngModel)]="ratevalue">
                <option [value]="1">1</option>
                <option [value]="2">2</option>
                <option [value]="3">3</option>
                <option [value]="4">4</option>
                <option [value]="5">5</option>
              </select>
            </div>
            <div class="col-4">
              <button class="btn w-100" style="background-color: #ae7c54;color: white;"  (click)="sRating()">
                Rating
              </button>
            </div>



         </div>
         <hr>


         <div class="col-lg-12 text-center">
          <button class="btn w-50" style="background-color: #218490;color: white;" (click)="GoBack()">go Back</button>
        </div>


</div>

</div>




         <!-- <br>
        <div class="form-group ">
          <label for="sel1">Select Rating:</label>
          <select class="form-control col-6" id="sel1" [(ngModel)]="ratevalue">
            <option [value]="1">1</option>
            <option [value]="2">2</option>
            <option [value]="3">3</option>
            <option [value]="4">4</option>
            <option [value]="5">5</option>
          </select>
        </div>

       </div>








      <div> Product Name:</div> <p> {{item.PRDName }} </p>
      <h3 class="text-danger">Price:{{item.PRDCost | currency}}</h3>
      <a class="text-muted">Quantity: {{item.PRDQuantity}}</a>
      <p class="text-info">number of rating: {{item['no_of_rating']}}</p>
      <p class="text-success">average of rating: {{item['avg_of_rating']}}</p>

      <div class="form-group d-inline-flex mr-4 border-muted">
        <button class="form-control border-light btn" (click)="subproduct()"><i class="fa fa-minus text-muted"
            style=" font-size:12px"></i></button>
        <input type="text" [(ngModel)]="add" class="form-control border-light text-center input-btn" readonly>
        <button class="form-control border-light btn" (click)="addincrement(item.PRDQuantity)"><i
            class="fa fa-plus text-muted" style="font-size:12px"></i></button>
          <button [hidden]="this.check_is_staff" class="form-control border-light btn" (click)="subproduct()"><i class="fa fa-minus text-muted" style=" font-size:12px"></i></button>
          <input [hidden]="this.check_is_staff"  type="text" [(ngModel)]="add" class="form-control border-light text-center input-btn" readonly>
          <button  [hidden]="this.check_is_staff" class="form-control border-light btn" (click)="addincrement(item.PRDQuantity)"><i class="fa fa-plus text-muted" style="font-size:12px"></i></button>
      </div>
      <button [hidden]="this.check_is_staff" class="btn-danger btn-card" (click)="addtocard(item.id)">
        Add to Cart
      </button>
      <br /><br />
      <div>
        <strong class="text-muted">Availability:</strong>
        <span class="text-success"> In stock</span>
      </div>
      <div>
        <strong class="text-muted">SKU:</strong>
        <span class="text-dark"> DEMOH1_3006</span>
      </div>
      <br />
      <div class="form-group col-12">
        <label for="sel1">Select Rating:</label>
        <select class="form-control col-6" id="sel1" [(ngModel)]="ratevalue">
          <option [value]="1">1</option>
          <option [value]="2">2</option>
          <option [value]="3">3</option>
          <option [value]="4">4</option>
          <option [value]="5">5</option>
        </select>
      </div>
      <div class="col-6 m-2">
        <button class="btn btn-primary w-50" (click)="sRating()">
          Rating
        </button>
      </div>
      <div class="col-lg-6 m-2">
        <button class="btn btn-success w-50" (click)="GoBack()">go Back</button>
      </div>
    </div>
 -->

    <!-- <div class="col-7 my-4 mt-5">
       <div class="col-md-10 mt-3 mb-5">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{loginUser.username}}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{loginUser.email}}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">ID</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{loginUser.id}}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Is Staff</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{loginUser.is_staff}}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Last Login</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{loginUser.last_login| date :'medium'}}</div>
            </div>

          </div>
        </div>

      </div>
    </div> -->






