<!-- Footer
<footer class="page-footer font-small blue bg-warning mb-2">

   Copyright
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>-->
  <!-- Copyright
</footer>-->
<!-- Footer -->



<footer class="text-center text-dark mt-4" style="background-color: rgb(205, 234, 243);">
  <div class="container-fluid p-4">
      <div class="row">

        <div class="col-lg-4">
          <div>
            <iframe
              class="shadow-1-strong rounded"
              src="https://www.youtube.com/embed/vlDzYIIOYmM"
              title="YouTube video"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <div class="col-lg-8 " >
          <div class="row mb-2">
            <div class="col-12 d-inline-flex" >
              <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div>
                  <img src="../../assets/device4.jpg" style="width:115px"/>
                </div>
              </div>
              <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div>
                  <img src="../../assets/ip3.jpg" style="width:115px"/>
                </div>
              </div>
              <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div>
                  <img src="../../assets/lap1.jpg" style="width:115px"/>
                </div>
              </div>
              <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div>
                  <img src="../../assets/device2.jpeg" style="width:115px"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-inline-flex">
              <div class="col-lg-2 col-md-12 mb-4 mb-md-0 ">
                <div>
                  <img src="../../assets/lap2.jpg" style="width:115px"/>
                </div>
              </div>
              <div class="col-lg-2 col-md-12 mb-4 mb-md-0 ">
                <div>
                  <img src="../../assets/device4.jpg" style="width:115px"/>
                </div>
              </div>
              <div class="col-lg-2 col-md-12 mb-4 mb-md-0 ">
                <div>
                  <img src="../../assets/ip2.jpg" style="width:115px"/>
                </div>
              </div>
              <div class="col-lg-2 col-md-12 mb-4 mb-md-0 ">
                <div>
                  <img src="../../assets/cam3.jpg" style="width:115px"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="text-center p-3 text-dark" >
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">mobile store.com</a>
  </div>
</footer>
